<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onAddItem(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" ngModel required>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" class="form-control" id="amount" name="amount" ngModel required
                        pattern="^[0-9]+[0-9]+$">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class=" btn btn-success" type="submit" [disabled]="!f.valid">{{editMode ? "Update"
                        :
                        "Add"
                        }}</button>
                    <button style="margin-left: 4px;" class="btn btn-danger ml-1" type="button">Delete</button>
                    <button style="margin-left: 4px;" class="btn btn-primary ml-1" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>

</div>